body:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url("Images/Batman.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-family: monospace;
  color: cadetblue;
  margin-top: 0%;
}

.score {
  display: grid;
  align-items: end;
  justify-content: end;
  color: limegreen;
  font-size: 30px;
}

.container {
  height: 200px;
  width: 100%;
  position: absolute;
}

#question {
  height: 120px;
  width: 95%;
  font-size: 30px;
  color: white;

}

.answer {
  height: 130px;
  width: 80%;
  font-size: 30px;
  color: red;
}

.answer:hover {
  color: white;
}

#reset {
  background-color: white;
  font-size: 35px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#reset:hover{
  background-color: yellow;

}
