body {

  position: relative;
  left: 0;
  right: 0;
  display: block;
  background-image: url("Images/Batman.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-family: monospace;
  color: #42a4de;
  margin-top: 0%;
}

.score {
  display: grid;
  align-items: end;
  justify-content: end;
  color: yellow;
  font-size: 30px;
}

.container {
  width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 60px 60px;
}

#question {
  font-size: 40px;
  color: white;
  font-family: 'Oswald', sans-serif;

}

.answers {
  height: 130px;
  width: 80%;
  font-size: 30px;
  color: #42a4de;
  font-family: 'Oswald', sans-serif;
}

.answer:hover {
  color: white;
}



@media(max-width:568px){
  body {
    background-image: 100%;
  }
}
